<h1 style="text-align: center">&nbsp;</h1>
<h1 style="text-align: center">
  <strong>Escribe la cantidad de Puma Puntos</strong>
</h1>
<form >
<p style="text-align: center">&nbsp;</p>
<p style="text-align: center">
  <input id="cantidad" max="100" min="1" type="number" name="cantidad" [(ngModel)]="pumapuntos" />
</p>
<p style="text-align: center">&nbsp;</p>
<p style="text-align: center">
  <button href="#" name="RestarBtn" class="RestarButton" type="submit" (click)="restar()">
    Restar
  </button>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
  <button href="#" name="SumarBtn" class="SumarButton" type="submit" (click)="sumar()">
    Sumar
  </button>
</p>
</form>
