.container {
  
}

.btn-space {
  margin-right: 5px;
}

td {
  text-align: center;
  vertical-align: middle;
}

th {
  text-align: center;
  vertical-align: middle;
}

#descripcion {
  text-align: left;
  padding: 0 1%
}
