<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form (ngSubmit)="crear()">
            <div class="form-group">
                <label for="" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type = "text" class="form-control"[(ngModel)]="usuario.nombre" name="nombre">
                </div>
            </div>


            <div class="form-group">
                <label for="" class="col-form-label col-sm-2">Correo</label>
                <div class="col-sm-6">
                    <input type = "text" class="form-control" [(ngModel)]="usuario.correo" name="correo">
                </div>
            </div>


            <div class="form-group">
                <label for="" class="col-form-label col-sm-2">Contraseña</label>
                <div class="col-sm-6">
                    <input type = "text" class="form-control" [(ngModel)]="usuario.contrasena" name="contrasena">
                </div>
            </div>


            <div class="form-group">
                <label for="" class="col-form-label col-sm-2">Número Institucional</label>
                <div class="col-sm-6">
                    <input type = "text" class="form-control" [(ngModel)]="usuario.numInstitucional" name="número institucional">
                </div>
            </div>


            <div class="form-group">
                <label for="" class="col-form-label col-sm-2">Carrera</label>
                <div class="col-sm-6">
                    <input type = "text" class="form-control" [(ngModel)]="usuario.carrera" name="carrera" >
                </div>
            </div>


            <div class="form-group">
                <label for="" class="col-form-label col-sm-2">Telefono</label>
                <div class="col-sm-6">
                    <input type = "text" class="form-control" [(ngModel)]="usuario.telefono" name="telefono">
                </div>
            </div>


            <div class="form-check form group">
                <input class="form-check-input" type="checkbox"
                id="esProveedor" name="esProveedor" [(ngModel)]="usuario.esProveedor">
                <label class="form-check-label" for="esProveedor">Es proveedor</label>
            </div>


            <div class="form-check form group">
                <input class="form-check-input" type="checkbox"
                id="esAdmin" name="esAdmin" [(ngModel)]="usuario.esAdmin">
                <label class="form-check-label" for="esAdmin">Es administrador</label>
            </div>

            
            <div class="form-group ">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button">Añadir</button>
                </div>
            </div>


        </form>    

    </div>
</div>