<div class="p-3 mb-2 bg-light rounded-3">
    <div class="container-fluid py-4 text-center">
      <h1 class="display-7 fw-bold ">Usuarios</h1>
    </div>
  </div>
  
  <div class="album py-5">
    <div class="container mb-4 mt-0">
      <div class="input">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <select class="form-select-sm me-2">
            <option selected>Método de búsqueda</option>
            <option value="1">Por código</option>
            <option value="2">Por nombre</option>
          </select>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Número Institucional</th>
                <th scope="col">Carrera</th>
                <th scope="col">Activo</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Admin</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Juan Escutia</td>
                <td>juan@correo.com</td>
                <td>123456789</td>
                <td>Ciencias de la Computación</td>
                <td><fa-icon [icon]="faCheck"></fa-icon></td>
                <td><fa-icon [icon]="faCheck"></fa-icon></td>
                <td><fa-icon [icon]="faCheck"></fa-icon></td>
                <td>
                  <button type="button" class="btn-space btn btn-primary btn-space"><fa-icon [icon]="faEye"></fa-icon></button>
                  <button type="button" class="btn btn-success btn-space"><fa-icon [icon]="faEdit"></fa-icon></button>
                  <button type="button" class="btn btn-danger"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>