<div class="p-3 mb-2 bg-light rounded-3">
    <div class="container-fluid py-4 text-center">
      <h1 class="display-7 fw-bold ">Usuarios</h1>
    </div>
  </div>
  
  <div class="album py-5">
    <div class="container mb-4 mt-0">
      <div class="input">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <select class="form-select-sm me-2">
            <option selected>Método de búsqueda</option>
            <option value="1">Por código</option>
            <option value="2">Por nombre</option>
          </select>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Article Name</th>
                <th scope="col">Author</th>
                <th scope="col">Shares</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Bootstrap 4 CDN and Starter Template</td>
                <td>Cristina</td>
                <td>2.846</td>
                <td>
                  <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Bootstrap Grid 4 Tutorial and Examples</td>
                <td>Cristina</td>
                <td>3.417</td>
                <td>
                  <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Bootstrap Flexbox Tutorial and Examples</td>
                <td>Cristina</td>
                <td>1.234</td>
                <td>
                  <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>