button {
    align-self: center;
    background-color: rgba(37, 61, 170, 0.712);
    border: solid 1px;
    color: white;
}

button:active{
    background:goldenrod;
}

button:focus{
    background:goldenrod;
}

tr {
   border: solid 1px; 
}

td {
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: goldenrod;
    text-align: center;
    vertical-align: middle;
}