<div class="p-3 mb-2 bg-light rounded-3">
    <div class="container-fluid py-4 text-center">
      <h1 class="display-7 fw-bold ">Reportes</h1>
    </div>
</div>


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <button data-bs-toggle="collapse" data-bs-parent="#accordion" data-bs-target="#ProductosDelMes">
            Ver los 5 productos con mas rentas en el mes</button>
        </h4>
      </div>
      <div id="ProductosDelMes" class="panel-collapse collapse in" data-bs-parent="#accordion">
        <div class="panel-body">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Codigo</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Unidades Rentadas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let productosMes of productosMes">
                                <td scope="row">{{ productosMes.id_Producto}}</td>
                                <td>{{ productosMes.codigo }}</td>
                                <td>{{ productosMes.nombre }}</td>
                                <td>{{ productosMes.descripcion }}</td>
                                <td>{{ productosMes.unidades_Rentadas }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <button data-bs-toggle="collapse" data-bs-parent="#accordion" data-bs-target="#UsuariosPorCarrera">
          Ver la cantidad de usuarios activos por carrera</button>
        </h4>
      </div>
      <div id="UsuariosPorCarrera" class="panel-collapse collapse" data-bs-parent="#accordion">
        <div class="panel-body">
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Carrera</th>
                                    <th scope="col">Estudiantes Activos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuariosPorCarrera of usuariosPorCarrera">
                                    <td scope="row">{{ usuariosPorCarrera.carrera}}</td>
                                    <td>{{ usuariosPorCarrera.estudiantes_Activos }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <button data-bs-toggle="collapse" data-bs-parent="#accordion" data-bs-target="#UsuariosSemana">
            Ver los 5 usuarios con mas rentas en la semana</button>
          </h4>
        </div>
        <div id="UsuariosSemana" class="panel-collapse collapse" data-bs-parent="#accordion">
          <div class="panel-body">
              <div class="panel-body">
                  <div class="row">
                      <div class="col-12">
                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th scope="col">ID</th>
                                      <th scope="col">Carrera</th>
                                      <th scope="col">Nombre</th>
                                      <th scope="col">Numero Institucional</th>
                                      <th scope="col">Numero de rentas</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let usuariosRentasSemana of usuariosRentasSemana">
                                      <td scope="row">{{ usuariosRentasSemana.id_Usuario}}</td>
                                      <td>{{ usuariosRentasSemana.carrera }}</td>
                                      <td>{{ usuariosRentasSemana.nombre }}</td>
                                      <td>{{ usuariosRentasSemana.num_Institucional }}</td>
                                      <td>{{ usuariosRentasSemana.numero_Rentas }}</td>
                                  </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <button data-bs-toggle="collapse" data-bs-parent="#accordion" data-bs-target="#Jasso1">
          Caso de uso Jasso1</button>
        </h4>
      </div>
      <div id="Jasso1" class="panel-collapse collapse" data-bs-parent="#accordion">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <button data-bs-toggle="collapse" data-bs-parent="#accordion" data-bs-target="#Jasso2">
            caso de uso Jasso2</button>
          </h4>
        </div>
        <div id="Jasso2" class="panel-collapse collapse" data-bs-parent="#accordion"> 
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <button data-bs-toggle="collapse" data-bs-parent="#accordion" data-bs-target="#Jasso3">
            caso de uso Jasso3</button>
          </h4>
        </div>
        <div id="Jasso3" class="panel-collapse collapse" data-bs-parent="#accordion">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
    </div>
  </div> 